
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
  }
  
  body {
    font-family: 'Nanum Barun Gothic', Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
  
  .center {
    text-align: center;
  }
  
  input {
    border: 0;
    padding: 0;
    background-color: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input:focus {
    outline: 0;
  }
  
  textarea {
    border: 0;
    padding: 0;
  }
  
  textarea:focus {
    outline: 0;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }